html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(126, 106, 214);
    font-family: 'Arial', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0 0 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(248, 237, 200);
}

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo-text {
    color: rgb(31, 29, 29);
    /* Warna putih */
    font-size: 36px;
    /* Ukuran font yang lebih besar */
    font-weight: bold;
    /* Menebalkan teks */
    text-decoration: none;
    /* Menghapus garis bawah */
    font-family: 'Courier New', Courier, monospace;
    /* Ganti dengan font lain yang diinginkan */
}

/* Jika Anda ingin menambahkan efek hover pada logo */
.logo-text:hover {
    text-decoration: underline;
    /* Garis bawah saat hover */
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: rgb(31, 29, 29);
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
    /* Garis bawah saat hover */
}

.header {
    text-align: center;
}

.header h1 {
    color: #ffffff;
    font-size: 50px;
}

.content-header {
    text-align: center;
}

.content-header p {
    color: white;
}

/* Kartu Foto */
.card-container {
    display: flex;
    flex-wrap: wrap;
    /* Agar kartu bisa dibungkus ke baris berikutnya */
    justify-content: center;
    /* Pusatkan kartu */
    margin-top: 20px;
    /* Jarak antara deskripsi dan kartu */
}

.card {
    background-color: white;
    /* Warna latar belakang kartu */
    border-radius: 10px;
    /* Sudut melengkung */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Bayangan halus */
    margin: 10px;
    /* Jarak antar kartu */
    width: calc(33% - 20px);
    /* Lebar kartu responsif */
    text-align: center;
    /* Pusatkan teks dalam kartu */
}

.card img {
    width: 100%;
    /* Gambar memenuhi lebar kartu */
    border-top-left-radius: 10px;
    /* Sudut melengkung pada gambar */
    border-top-right-radius: 10px;
}

.card h3 {
    margin-top: 10px;
    /* Jarak atas judul */
    color: #333333;
    /* Warna judul */
}

.card p {
    padding: 0 10px;
    /* Padding horizontal untuk deskripsi */
    color: #555555;
    /* Warna deskripsi */
}

/* Media Queries untuk Responsivitas */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
        /* Dua kartu per baris pada layar kecil */
    }

    .header h1 {
        font-size: 36px;
    }

    .content-header p {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
        /* Satu kartu per baris pada layar sangat kecil */
    }
}